<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher"
            filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>20</update_rate>
            <joint_name>slider_joint</joint_name>
            <joint_name>arm_joint</joint_name>
        </plugin>
    </gazebo> -->
    <gazebo>
        <plugin filename="ignition-gazebo-ackermann-steering-system"  name=
        "ignition::gazebo::systems::AckermannSteering"> 
            <topic>/cmd_vel</topic>
            <odom_publish_frequency>10</odom_publish_frequency>
            <odom_topic>odom</odom_topic>
            
            <!-- <left_joint>Front_Left_wheel_joint</left_joint> -->
            <left_joint>Rear_Left_wheel_joint</left_joint>
            <!-- <right_joint>Front_Right_wheel_joint</right_joint> -->
            <right_joint>Rear_Right_wheel_joint</right_joint>
            <left_steering_joint>Front_Left_steering_joint</left_steering_joint>
            <right_steering_joint>Front_Right_steering_joint</right_steering_joint>
            <kingpin_width>0.75</kingpin_width>
            <steering_limit>0.5</steering_limit>
            <wheel_base>1.25</wheel_base>
            <wheel_separation>0.9</wheel_separation>
            <wheel_radius>0.2</wheel_radius>
            <min_velocity>-10</min_velocity>
            <max_velocity>100</max_velocity>
            <min_acceleration>-30</min_acceleration>
            <max_acceleration>30</max_acceleration> 
        </plugin>
    </gazebo>

</robot>
